# ===========================================
# Visual Studio Code
# ===========================================
.vscode/

# ===========================================
# Python
# ===========================================
__pycache__/
*.py[cod]

# ===========================================
# Logs
# ===========================================
*.log
*.sumo-log

# ===========================================
# Archivos temporales
# ===========================================
*.tmp
*.bak
*.swp

# ===========================================
# Sistema Operativo
# ===========================================
Thumbs.db
desktop.ini
.DS_Store